# 1. Z-scores

In [1]:
import numpy as np 
import pandas as pd

In [5]:
data = pd.read_csv('/Users/aqureshi/Desktop/DS_021720/code-challenge-review-mod-2-london/mtcars.csv', squeeze=True)
data.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [10]:
mean = data['mpg'].mean()

In [11]:
std = data['mpg'].std()

In [13]:
z_score = (data['mpg']- mean)/std
z_score

0     0.150885
1     0.150885
2     0.449543
3     0.217253
4    -0.230735
5    -0.330287
6    -0.960789
7     0.715018
8     0.449543
9    -0.147774
10   -0.380064
11   -0.612354
12   -0.463025
13   -0.811460
14   -1.607883
15   -1.607883
16   -0.894420
17    2.042389
18    1.710547
19    2.291272
20    0.233846
21   -0.761683
22   -0.811460
23   -1.126710
24   -0.147774
25    1.196190
26    0.980492
27    1.710547
28   -0.711907
29   -0.064813
30   -0.844644
31    0.217253
Name: mpg, dtype: float64

This is supposed to be in an array. Maybe google how to do that.

# 2. Central Limit Theoreom